Options +FollowSymLinks
RewriteEngine on

# CONTROLADORES
# Redirige a los controladores PHP correspondientes
RewriteRule ^Login$ controllers/login-controller.php [L]
RewriteRule ^NewUser$ controllers/registrer-controller.php [L]
RewriteRule ^Dashboard$ controllers/dashboard-controller.php [L]
RewriteRule ^Quotes$ controllers/quotes-controller.php [L]
RewriteRule ^Accounts$ controllers/account-management-controller.php [L]

# VISTAS
# Redirige a las vistas PHP correspondientes
RewriteRule ^Cpanel$ views/login-view.php [L]
RewriteRule ^Registrer$ views/registrer-view.php [L]
# Descomenta la siguiente línea si tienes una vista para el perfil del usuario
# RewriteRule ^Profile$ views/profile-view.php [L]
RewriteRule ^Productos-Categories$ views/products-categories-view.php [L]
# Descomenta la siguiente línea si tienes una vista para el historial
# RewriteRule ^History$ views/history-view.php [L]
RewriteRule ^Detalles$ views/products-details-view.php [L]

# ACCIONES
# Redirige a las acciones PHP correspondientes
RewriteRule ^VerifyEmail$ actions/check-email.php [L]
RewriteRule ^CloseSession$ actions/close-session.php [L]
RewriteRule ^Products$ actions/read-catalogue.php [L]
RewriteRule ^roll-user$ actions/roll-user.php [L]
RewriteRule ^dash-action$ actions/ajax-dashboard.php [L]
RewriteRule ^quotes-action$ actions/ajax-quotes.php [L]
RewriteRule ^account-management-action$ actions/ajax-account-management.php [L]